scikit-learn
xgboost
pandas
numpy
matplotlib
seaborn
shap
joblib
missingno
scipy
sqlalchemy
psycopg2-binary
python-dotenv
statsmodels
category-encoders
lightgbm
plotly
pytest
ipykernel
fastapi
pydantic